@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables",
"../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
$rma-red:  rgb(26, 1, 29);

$rma-btn-primary-bg: rgb(26, 1, 29);
$rma-font-family-oswald: 'Oswald', sans-serif;
$rma-font-family-raleway: 'Raleway', sans-serif;
$font-family-base: $rma-font-family-raleway;
$btn-font-weight: 600;
$btn-primary-color: #fff;
$btn-primary-bg: $rma-btn-primary-bg;
$btn-primary-border: darken($rma-btn-primary-bg, 5%);

$pagination-color: white;
$pagination-bg: blue;
$pagination-border: white;

$pagination-hover-color: blue;
$pagination-hover-bg: white;
$pagination-hover-border: $rma-red;

$pagination-active-color: white;
$pagination-active-bg: $rma-btn-primary-bg;
$pagination-active-border: white;
$panel-primary-border:        $rma-red;
$panel-primary-heading-bg:    blue;